@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages
@using AlloyTraining.Business.ExtensionMethods

@model IPageViewModel<SitePageData>

@{
    HelperResult ItemTemplate(HtmlHelpers.MenuItem item)
    {
        <li class="nav-item">
            <a href="@Url.ContentUrl(item.Page.PageLink)"
                class="navbar-link @(item.Selected ? " active" : null)">
                @item.Page.PageName
            </a>
            @if (item.Selected)
            {
                <ul class="nav nav-pills flex-colimn">
                    @Html.MenuList(item.Page.ContentLink, ItemTemplate)
                </ul>
            }
        </li>
        return new HelperResult(w => Task.CompletedTask);
    }
}

<div id="alloyDrop" class="accordion">
    <div class="accordion-group">
        @if (Model.Section != null)
        {
            @Html.MenuList(Model.Section.ContentLink, ItemTemplate)
        }
    </div>
</div>